@font-face {
    font-family: 'THSarabunNew';
    font-style: normal;
    font-weight: normal;
    src: url("fonts/THSarabunNew.ttf") format('truetype');
}
@font-face {
    font-family: 'THSarabunNew';
    font-style: normal;
    font-weight: bold;
    src: url("fonts/THSarabunNew Bold.ttf") format('truetype');
}
@font-face {
    font-family: 'THSarabunNew';
    font-style: italic;
    font-weight: normal;
    src: url("fonts/THSarabunNew Italic.ttf") format('truetype');
}
@font-face {
    font-family: 'THSarabunNew';
    font-style: italic;
    font-weight: bold;
    src: url("fonts/THSarabunNew BoldItalic.ttf") format('truetype');
}
html{
    margin: 0px;
}
body{
 font-family: "THSarabunNew";
 padding: 0.5in 0.4in 0.2in 0.4in;
 font-size: 14pt;
}
table {
    border-collapse: collapse;
}
table{
    width: 100%;
}
th{
    border: 0px solid black;
    padding: 0.5em 0.5em;
    font-size: 14pt;
}
td {
    border: 1px solid black;
    padding: 0px 2px;
    font-size: 10pt;
}
label{
    float: right;
    margin-top: -45px;
    font-size: 12pt;
}
